@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: auto;
  padding: 58px 10%;
  gap: 10px;
  z-index: 1;
}

.text{
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.formwrap{
  background-color: #0c0c0c90;
  border-radius: 20px;
  padding: 20px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 80px #121f36; 

}
.formwrap h1{
  font-size: 30px;
  font-weight: 400;
  margin-top: 15px;
}

.text h2 {
  font-size: 55px;
  font-weight: 400;
}

.text p {
  font-size: 25px;
  font-weight: 300;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 25px;
  margin-top: 75px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link img{
  margin-right: 20px;
  margin-bottom: -5px;
  transition: 0.2s;
  width: 35px;
  height: 35px;
  object-fit: contain;
}
.link img:hover {
  transform: translateY(-10px);

}
.link a {
  color: var(--color-text);
  text-decoration: none;
  display: inline-flex;
  
}

.link p {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 300;
}


form {
  margin-top: 20px; 
}

form button{
  margin-top: 20px;
  margin-bottom: 20px;
}

.thankYou{
  width: 50%;
  font-size: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px; 
}

input {
  width: 75%;
  height: 50px;
  border: none;
  border-radius: 20px;
  margin: 10px 0px;
  font-size: 14px;
  padding: 20px 20px 20px 20px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  resize: none;
  overflow: auto;
  box-sizing: border-box;
}

textarea::-webkit-scrollbar {
  width: 15px;
  border-radius: 20px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #111d33;
  
}

.copyright{
  zoom: 75%;
  font-size: 20px;
  font-weight: 300;
  color: #ffffffd0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px ;
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column-reverse;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text  h2{
    font-size: 45px;
  }
  
  .text p {
    font-size: 25px;
    font-weight: 300;
  }

  .links {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .formwrap{
    margin-top: 25px;
    margin-bottom: 50px;

  }
  .thankYou{
    font-size: 20px;
  }
}

@media screen and (max-width: 830px){

  .link p {
    display: none;
  }
  .links {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
  .text  h2{
    font-size: 40px;
  }
  
  .text p {
    font-size: 20px;
    font-weight: 300;
  }

  .formwrap{
    margin-top: 20px;
    
  }

  .formwrap h1{
    font-size: 20px;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .thankYou{
    font-size: 18px;
  }

  input {
    width: 100%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
    zoom: 70%;
  }
  
}

@media screen and (max-width: 768px){
 

  .formwrap{
    zoom: 90%;
    margin-bottom: 50px;
  }
  .copyright{
    zoom: 65%;
  }
}


@media screen and (max-width: 380px){
  #contact{
    zoom: 75%;
  }

  .formwrap{
    zoom: 95%;
  }
}

