@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
  z-index: 1;
}

.text h2 {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 1px;
}

.text p {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 25px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link img{
  margin-right: 20px;
  margin-bottom: -5px;
  transition: 0.2s;
}
.link img:hover {
  transform: translateY(-10px);

}
.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  display: inline-flex;
  
}

.link p {
  margin-top: 8px;
  padding-top: 8px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text  h2{
    font-size: 45px;
  }
  
  .text p {
    font-size: 25px;
    font-weight: 200;
  }

  .links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .link p {
    display: none;
  }

}
