@import "../../vars.css";

.navWrapper{
  width: 100%;
  z-index: 2;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  z-index: 2;
  margin-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  zoom: 80%;
  overflow: auto;
}

.title {
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  color: var(--color-text);
}

.logo{
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  transition: 0.5s;
}

.menuItems a {
  font-size: 25px;
  font-weight: 200;
  color: var(--color-text);
  text-decoration: none;

}
.menuItems li {
  transition: 0.2s;
  cursor: pointer;
}

.menuItems li:hover{
  transform: translateY(-10px);
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
  .logo{
    cursor: pointer;
  }
}
